footer {
  display: flex;
  flex-direction: column;
  font-size: small;
  color: gray;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    list-style: none;
  }
  a {
    text-decoration: none;
    list-style: none;
    color: gray;
  }
  a:hover {
    color: #dc3545;
  }
}
